.description{
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;  /*限制在一个块元素显示的文本的行数*/
    -webkit-box-orient: vertical;
}
